.atrakcje {
  font-family: "Outfit", sans-serif;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.atrakcje h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 40px;
  color: #228b22;
}

.at-section {
  margin-bottom: 50px;
}

.at-section h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.at-section table {
  width: 100%;
  border-collapse: collapse;
}

.at-section td {
  padding: 16px;
  font-size: 1.1rem;
}

.at-section tr:nth-child(odd) {
  background-color: #228b22;
  color: white;
}

.at-section tr:nth-child(even) {
  background-color: #444;
  color: white;
}

.at-section:last-of-type tr {
  background-color: #ddd;
  color: black;
}
