.oferta {
  font-family: "Outfit", sans-serif;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.oferta-header {
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-size: 1.5rem;
}

.oferta-header h1 {
  font-size: 3.5rem;
  color: #228b22;
  margin-bottom: 20px;
}

.oferta-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.box {
  background-color: #f2f2f2;
  padding: 30px;
  border-left: 5px solid #228b22;
  border-radius: 8px;
  width: 380px;
  font-size: 1.3rem;
}

.box h3 {
  color: #228b22;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.oferta-galeria {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 90%;
  width: 1500px;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #228b22;
}

.space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 1500px;
}

.col-left,
.col-right {
  display: flex;
  width: 50%;

  overflow: hidden;
}

.row-top img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #ddd;
  max-height: 200px;
}

.row-bot {
  padding: 20px;
  background-color: white;
  font-size: 1.1rem;
  color: #333;
  max-height: 200px;
}

.oferta-lista {
  background-color: #228b22;
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.oferta-lista ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 10px;
}
.oferta-lista h2 {
  font-size: 1.8rem;
}

.oferta-lista li {
  font-size: 1.4rem;
}
