.home {
  font-family: "Outfit";
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 20px;
  overflow-x: hidden;
}

.lamanka {
  position: absolute;
  margin-top: -100px;
  margin-left: -20px;
  max-width: 100%;
  z-index: 1;
  overflow: hidden;
}
.lamanka img {
  min-width: 1950px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.intro {
  flex-direction: row;
  margin-top: 100px;
  margin-right: 55px;
}

.intro-text {
  flex: 1 1 400px;
  font-size: 1.4rem;
}
.intro-text h2 {
  position: relative;
}
.intro-text h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 950px;
  background-color: #228b22;
  top: 100%;
  left: 0%;
}

.double {
  flex-direction: row-reverse;
  margin-left: 55px;
}

.double-text {
  flex: 1 1 400px;
  font-size: 1.4rem;
  position: relative;
}
.double-text h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1150px;
  background-color: #228b22;
  top: 25%;
  left: -40%;
}

.features {
  margin-top: 100px;
}

.features-list {
  flex: 1 1 400px;
  background-color: #228b22;
  height: 800px;
  font-size: 50px;
  margin-right: -30px;
  padding: 20px;
  color: #ffffff;
}

.features-list ul {
  list-style: none;
  padding-left: 0;
}

.features-list li {
  line-height: 6.6rem;
  font-size: 40px;
  font-weight: lighter;
}
.features-list h4 {
  font-weight: 100;
}
.img10 {
  margin-right: -250px;
  margin-left: 200px;
}
.img10 img {
  width: 100%;
  max-width: 850px;
  height: auto;
}

.dojazd {
  flex-direction: row;
}

.dojazd-text {
  flex: 1 1 300px;
}

.dojazd-map {
  flex: 1 1 300px;
  background-color: #ccc;
  height: 250px;
}

.liczniki {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  padding: 40px 20px;
  background-color: #228b22;
  color: white;
  font-family: "Outfit", sans-serif;
  border-radius: 12px;
  flex-wrap: wrap;
}

.licznik {
  text-align: center;
  font-size: 1.8rem;
}

.licznik h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.features-image img {
  width: 100%;
  max-width: 850px;
  height: auto;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 50px 0px 50px;
}
.grey-box {
  width: 1000px;
  height: 1000px;
  background-color: #dbdbdbc5;
  position: absolute;
  rotate: 120deg;
  left: -700px;
  top: 800px;
  z-index: 2;
}
h2 {
  margin-bottom: 15px;
}
.img15 {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 200px 0px 00px;
  border: 10px solid #228b22;
}
.img15 img {
  max-height: 800px;
}
.dojazd {
  margin-top: 100px;
}
.dojazd-text {
  background-color: #f1f1f1;
  height: 800px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 10px solid #228b22;
}
.dojazd-text p {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  margin-top: 50px;
  color: #000000;
}
@media (max-width: 1350px) {
  .features-list li {
    font-size: 2rem;
    line-height: 5rem;
  }
}

@media (max-width: 1230px) {
  .features-list li {
    font-size: 3.5rem;
    line-height: 6.6rem;
  }
}

@media (max-width: 500px) {
  .grey-box {
    display: none;
  }
  .features-list li {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .features-list {
    height: 500px;
    font-size: 35px;
  }
  .double-text h2 {
    font-size: 30px;
  }
  .double-text p {
    font-size: 20px;
  }
  .intro-text h2 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 20px;
  }
  .features-image img {
    width: 150%;
    margin: 0px;
  }
  .double-text h2::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 1150px;
    background-color: #228b22;
    top: 20%;
    left: -40%;
  }
  .img10 {
    display: none;
  }
  .img15 {
    max-width: 100%;
    max-height: 100px;
    border: none;
  }
}
